@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #e0f1f6;
  background-image: linear-gradient(19deg, #e0f1f6 0%, #ddd6f3 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

[data-route="/naia"] canvas {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}
